*{
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_principal {
    background-image: linear-gradient(to right top, #0000008a, #0000008a), url(/images/banner.JPG);
    background-size: cover;
    color: white;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titulo_principal{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.navegacion{
    background-color: rgb(159, 54, 71);
    color: #ffffff;
    height: 80px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1.5rem;
    text-align: left;

}
.contenedor_menu{
    background-color: rgb(159, 54, 71);
    color: #ffffff;
    font-weight: 700;
    text-align: right;
}
.iniciarSesion{
    display: inline-block;
    align-content: center;
    background-color: #181419;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: right;
}

.buscador-msj{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
}
.buscar{
    background-color: #181419;
    display: inline-block;
    color: #ffffff;
    height: 50px;
    margin: 20px 10px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid;
    text-align: center;
    margin-left: 23%;
    background-color: rgb(14, 13, 13);
    margin-top: 3%;
    border-radius: 70px;
    font-size: 20px;
    background-color: #181419;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buscador-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 35%;
}
.caja_buscar{
        padding: 8px;
        width: 200px;
        margin-right: 10px;
        border: 2px solid;
        border-radius: 25px;
        font-size: 1.2rem;
        height: 50px;
        margin: 20px 0px;
        outline: none;
        padding: 0px 20px;
        width: 500px;
}
    
.input[type="text"], select {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 25px;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 220px;
}
.seccion_botones{
    background-color: #181419;
}
.button {
    padding: 8px 15px;
    background-color:rgba(0, 0, 0, 0.281);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
button:hover {
    transition: transform 0.3s, box-shadow 0.3s;
}
.container {
    position: relative;
    text-align: center;
}
.titulo_tendencia{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.titulosection{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
}
.pelicula_aclamadas {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.pelicula-item {
    flex: 0 0 30%; /* Establece el ancho de cada elemento */
    margin-right: 10px; /* Espacio entre cada elemento */
    background-color: #9f3647;
}
.pelicula-item img {
    width: 30%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: 30%; /* La altura se ajustará automáticamente para mantener la proporción */
}

.footer {
    background-color: #9f3647;
    color: #ffffff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacion{
display: flex;
align-items: center;
align-content: center;
text-align: center;
    
}
img {
    width: 100%;
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1em;
  }
  .pelicula-listing {
    position: relative;
  }
  
  .pelicula-image {
    line-height: 0;
    overflow: hidden;
  } 
.pelicula-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pelicula-listing:hover .pelicula-title {
    opacity: 1;
  }
  
  .pelicula-listing:hover .pelicula-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .pelicula-title {
      opacity: 1;
    }
    .pelicula-image img {
      filter: blur(2px);
    }
  }